/*about me container*/
.about_me_section {
    background-color: #F5F5F5;
    display: flex;
    width: 100vw;
    padding-top: 90px;
    padding-bottom: 90px;
}

.foto_portfolio {
    width: 300px;
    padding-left: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.foto_princ {
    width: 300px;
}

.aboutme_contain {
    display: flex;
    flex-direction: column;
    padding-left: 100px;
}

.aboutme_title {
    font-size: 25px;
    color: #00CFFF;
}

.about_me_description {
    width: 730px;
    text-align: justify;
}

.aboutme_text {
    font-size: 17px;
    color: #2A2A79;
}

.aboutme_resum {
    display: flex;
    width: 730px;
    padding-top: 7px;
}

.new_buttonCV {
    padding-top: 20px;
    border: none;
}

.buttonCV {
    border-radius: 4px;
    cursor: pointer;
    font-family: 'Montserrat';
    font-weight: 400;
    border: 1px solid #2A2A79;
    background-color: #F5F5F5;
    padding: 12px;
    color: #2A2A79;
}

.buttonCV:hover {
    border: 1px solid #00CFFF;
}

/*knowledge container*/
.all_knowledge {
    width: 730px;
    padding-top: 53px;
}

.knowledge_title_cont {
    width: 100%;
    display: flex;
    justify-content: center;
}

.knowledge_title {
    font-size: 25px;
    color: #00CFFF;
}

.knowledge_container {
    width: 100%;
    padding-top: 15px;
}

.knowledge {
    width: 104px;
    height: 107px;
    gap: 30px;
}

.knowledge_img {
    width: 60px;
}

.knowledge_type {
    color: #2A2A79;
    font-size: 15px;
    font-weight: 200;
}