/*about me container*/
.about_me_section {
    background-color: #F5F5F5;
    display: flex;
}

.foto_portfolio {
    padding: 40px 40px;
}

.foto_princ {
    width: 115%;
    height: 33%;
    border-radius: 100px;
}

.aboutme_contain {
    display: flex;
    flex-direction: column;
    padding-left: 40px;
}

.aboutme_title {
    font-size: 50px;
    color: #2A2A79;
}

.about_me_description {
    width: 600px;
}

.aboutme_text {
    font-size: 20px;
    color: #2A2A79;
}

.aboutme_resum {
    display: flex;
    width: 900px;
    gap: 50px;
}

.aboutme_characteristics {
    padding-top: 50px;
    display: flex;
}

.aboutme_strengths {
    width: 500px;
}

.characteristics_title {
    font-size: 25px;
    color: #2A2A79;
}

.characteristics_container {
    display: flex;
    flex-direction: column;
    padding-top: 15px;
}

.characteristics {
    font-size: 20px;
    color: #2A2A79;
}

.new_buttonCV {
    padding-top: 20px;
    border: none;
}

.buttonCV {
    height: 35px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}