/*about me container*/
.about_me_section {
    background-color: #F5F5F5;
    display: flex;
}

.foto_portfolio {
    padding: 40px 40px;
}

.foto_princ {
    width: 115%;
    height: 33%;
    border-radius: 100px;
}

.aboutme_contain {
    display: flex;
    flex-direction: column;
    padding-left: 100px;
    padding-top: 40px;
}

.aboutme_title {
    font-size: 25px;
    color: #00CFFF;
}

.about_me_description {
    width: 730px;
    text-align: justify;
}

.aboutme_text {
    font-size: 17px;
    color: #2A2A79;
}

.aboutme_resum {
    display: flex;
    width: 730px;
    padding-top: 7px;
}

.aboutme_characteristics {
    padding-top: 50px;
    display: flex;
}

.aboutme_strengths {
    width: 365px;
}

.characteristics_title {
    font-size: 25px;
    color: #00CFFF;
}

.characteristics_container {
    display: flex;
    flex-direction: column;
    padding-top: 15px;
    gap: 17px;
}

.characteristics {
    font-size: 15px;
    color: #2A2A79;
}

.languages {
    width: 365px;
}

.languages_container {
    display: flex;
    flex-direction: column;
    padding-top: 15px;
    gap: 17px;
}

.languages_cont {
    display: flex;
    gap: 20px;
}

.languages_cont a {
    width: 100px;
}

.new_buttonCV {
    padding-top: 20px;
    border: none;
}

.buttonCV {
    border-radius: 4px;
    cursor: pointer;
    font-family: 'Montserrat';
    font-weight: 400;
    border: 1px solid #2A2A79;
    background-color: #F5F5F5;
    padding: 12px;
    color: #2A2A79;
}

.buttonCV:hover {
    border: 1px solid #00CFFF;
}

/*knowledge container*/
.all_knowledge {
    width: 730px;
    padding-top: 80px;
}

.knowledge_title_cont {
    width: 100%;
    display: flex;
    justify-content: center;
}

.knowledge_title {
    font-size: 25px;
    color: #00CFFF;
}

.knowledge_container {
    width: 100%;
    padding-top: 40px;
}

.knowledge {
    width: 104px;
    height: 120px;
    gap: 30px;
}

.knowledge_img {
    width: 60px;
}

.knowledge_type {
    color: #2A2A79;
    font-size: 15px;
    font-weight: 200;
}