.contact_cont {
    padding-top: 90px;
    padding-bottom: 90px;
    height: 97%;
}

.contact_section {
    display: flex;
    flex-direction: column;
    background-color: #F5F5F5;
    padding-top: 0;
}

.info_container {
    display: flex;
    height: 50%;
    align-items: flex-end;
    justify-content: center;
    padding-bottom: 20px;
    gap: 15px;
}

.info_type {
    font-size: 17px;
    color: #2A2A79;
    text-decoration: none;
}

.info_type span {
    font-size: 17px;
    color: #2A2A79;
    text-decoration: none;
}

.info_linie {
    color: #00CFFF;
    font-size: 30px;
    height: 30px
}

.contact_social_network {
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

.contact_foot {
    height: 8px;
    background-color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.design_by {
    text-decoration: none;
    color: black;
    font-size: 10px;
}

.design_by:hover {
    color: #00CFFF
}

.attributions {
    font-size: 10px;
    text-decoration: none;
    color: black;
}

.attributions:hover {
    color: #00CFFF;
}

.design {
    font-size: 10px;
}

.design_ {
    font-size: 10px;
}