.head_container {
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    height: 115px;
    z-index: 2;
}

.head_logo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px;
}

.logo {
    width: 100px;
}

.head_menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu_contain {
    padding: 25px;
    font-size: 20px;
    color: #2A2A79;
    cursor: pointer;
}