/*home container*/
.title_portfolio {
    width: 100%;
    height: 100%;
    z-index: 1;
}

.title {
    font-size: 50px;
    font-weight: 500;
    color: white;
    letter-spacing: 3px;
}

.home_social_network {
    padding: 20px;
    height: 100%;
    padding-right: 54px;
    z-index: 1
}

.social_network {
    transform: rotate(90deg);
    width: 140px;
    font-size: 20px;
    color: white;
    letter-spacing: 1px;
}

.sozial_line {
    margin-top: 70px;
    margin-bottom: 10px;
    transform: rotate(-45deg);
}

.social_icon_g {
    width: 30px;
    cursor: pointer;
    padding: 10px;
}

.social_icon_l {
    width: 27px;
    cursor: pointer;
    padding: 10px;
}

.social_icon_t {
    width: 27px;
    cursor: pointer;
    padding: 10px;
}

.video-section {
    position: relative;
    width: 100%;
    height: calc(100vh - 82px);
    overflow: hidden;
}

#video-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media (width < 1200px) {
    .home_social_network {
        padding-right: 0;
    }
}

@media (width < 1000px) {
    .home_container {
        flex-direction: column;
    }

    .home_social_network {
        flex-direction: initial !important;
        padding: 0;
        width: 100%;
        gap: 30px;
    }

    .social_network {
        transform: rotate(0deg);
    }

    .sozial_line {
        transform: rotate(225deg);
        margin-top: 6px;
    }

    .title_portfolio {
        align-items: self-end !important;
    }
}

@media(width < 800px) {
    .title_portfolio {
        flex-direction: column;
        justify-content: flex-end !important;
        align-items: center !important;
    }

    .title {
        font-size: 45px;
    }
}