/*projects container*/
.projects_section {
    background-color: #F5F5F5;
}

.projects_title_cont {
    padding-left: 50px;
}

.projects_title {
    font-size: 50px;
    color: #2A2A79;
}

.projects_container {
    padding: 20px;
    padding-left: 50px;
    padding-right: 50px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.projects {

    gap: 15px;
}

.projects_img {
    width: 200px;
    height: 200px;
    background: center;
    background-size: cover;
    cursor: pointer;
}

.projects_name_cont {
    display: flex;
    align-items: center;
    gap: 10px;
}

.projects_name {
    color: #2A2A79;
    font-size: 17px;
}

.projects_github {
    width: 30px;
    cursor: pointer;

}