/*projects container*/
.projects_section {
    background-color: rgb(238, 238, 238);
    padding-top: 90px;
    padding-bottom: 90px;
    width: 100vw;
}

.projects_title_cont {
    width: 100%;
    display: flex;
    justify-content: center;
}

.projects_title {
    font-size: 25px;
    color: #00CFFF;
}

.projects_container {
    width: 100%;
    padding-top: 90px;
    gap: 50px;
}

.projects {
    gap: 40px;
}

.projects_img {
    width: 200px;
    height: 200px;
    background: center;
    background-size: cover;
    cursor: pointer;
    transition: width 2s, height 2s;
}

.projects_img:hover {
    width: 250px;
    height: 250px;
}

.projects_name_cont {
    display: flex;
    align-items: center;
    gap: 10px;
}

.projects_name {
    color: #2A2A79;
    font-size: 15px;
    font-weight: 200;
}

.projects_github {
    width: 30px;
    cursor: pointer;

}