/*projects container*/
.projects_section {
    background-color: #2A2A79;
}

.projects_title_cont {
    width: 100%;
    padding-top: 40px;
    display: flex;
    justify-content: center;
}

.projects_title {
    font-size: 50px;
    color: #00CFFF;
}

.projects_container {
    width: 100%;
    padding: 50px 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
}

.projects {
    gap: 15px;
}

.projects_img {
    width: 200px;
    height: 200px;
    background: center;
    background-size: cover;
    cursor: pointer;
    transition: width 2s, height 2s;
}

.projects_img:hover {
    width: 250px;
    height: 250px;
}

.projects_name_cont {
    display: flex;
    align-items: center;
    gap: 10px;
}

.projects_name {
    color: #00CFFF;
    font-size: 17px;
}

.projects_github {
    width: 30px;
    cursor: pointer;

}