body {
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: 'Montserrat';
}

/*home container*/
.home_container {
    background: #F5F5F5;
}

.title_portfolio {
    width: 100%;
    height: 100%;
    margin-top: -115px;
    z-index: 10;
}

.title {
    font-size: 50px;
    color: white;
}

.home_social_network {
    padding: 20px;
    height: 100%;
    margin-top: -115px;
    z-index: 10;
}

.social_network {
    transform: rotate(90deg);
    width: 140px;
    font-size: 20px;
    color: white;
}

.sozial_line {
    margin-top: 70px;
    margin-bottom: 10px;
    transform: rotate(-45deg);
}

.social_icon_g {
    width: 30px;
    cursor: pointer;
    padding: 10px;
}

.social_icon_l {
    width: 30px;
    cursor: pointer;
    padding: 10px;
}

.social_icon_t {
    width: 30px;
    cursor: pointer;
    padding: 10px;
}

.video-section {
    position: relative;
    width: 100%;
    height: 100vh;
    /* Ajusta la altura según tus necesidades */
    overflow: hidden;
}

#video-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}