body {
    margin: 0;
    display: flex;
    flex-direction: column;
}

.main_container {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #F5F5F5;
}

.title_portfolio {
    position: absolute;
    top: 200px;
}

.title {
    font-size: 50px;
    color: #2A2A79;
}

.about_me_container {
    margin-top: 700px;
    position: absolute;
    background-color: red;
    width: 100%;
    height: 100%;
}